[2022-07-21 13:41] Davinkjohnson opened #556 "Variable Derivation Changes for Clinical"
Use this to track variable derivation work

[2022-07-21 15:13] wyattks commented on #542
Shifting this information from issue #229. I was testing the new error modals and came across 1 issue. I removed tubes CXA000132 0001 and CXA000132 0002 from the "bag" and shipped the remainder of the samples from CXA000132. I went to add these two tubes into a new box, box 14, CXA000132 0001 showed up as expected. CXA000132 0002 is giving me an error stating item not found, item not reported as c

[2022-07-21 15:14] wyattks commented on #553
Captured in issue #318

[2022-07-21 15:14] #553 closed

[2022-07-21 15:15] wyattks commented on #318
Adding in the Accession ID formats confirmed on 7/18/2022
Below are the formats for the Accession IDs from each KP site.
KPHI: 3-21-112-123456
KPCO: 3-21-112-12345
KPGA: 3-21-112-12345
KPNW: 21-112-12345

Basic example explanation: 3-21-112-00001
• 3 is a regional identifier for the Georgia Region (KPNW does not include the regional number in their Accession ID)
• 21 reflects the year
• 112 reflec

[2022-07-21 15:15] wyattks commented on #554
Added information into issue #318

[2022-07-21 15:15] #554 closed

[2022-07-21 19:11] geniosys commented on #555
Ok, so I found something interesting from what I see in the codebase, the "Specimen Link" button is only displayed when there's already a check-in visit. If there's no check-in visit, then the "specimen link" button won't appear.

Now adding the "specimen link" button like i did in the clinical dashboard won't be helpful as it won't be opening the specimen tab since that very same tab is dependent

[2022-07-21 20:15] Davinkjohnson commented on #555
On hold until Kathleen delivers updated workflow

[2022-07-22 14:28] wyattks commented on #555
Attached is a basic workflow for the Clinical dashboard.  Please le me know if you need it to be more detailed.

[Clinical Data Entry Workflow.docx](https://github.com/episphere/connect/files/9168505/Clinical.Data.Entry.Workflow.docx)

[2022-07-25 12:54] wyattks commented on #382
Flow has been decided in Issue #318

[2022-07-25 12:54] #382 closed

[2022-07-25 21:30] wyattks opened #557 "NCI Custom Clinical Tube list for Dev Dashboard"
Attached is a basic list of the tubes for the NCI Clinical site in dev and also a mock-up of what the data entry screen would look like for those tubes.  Let me know if you need anything else.

[NCI Clinical Tube Types.xlsx](https://github.com/episphere/connect/files/9184845/NCI.Clinical.Tube.Types.xlsx)

[NCI Clinical Collection Page.docx](https://github.com/episphere/connect/files/9184846/NCI.Cl

[2022-07-26 14:15] wyattks opened #558 "Enable Edit of the Specimen Collected check box - hold for further discussion"
In light of Chicago marking a Urine specimen as being collected that was not (BPTL issue # 349) and the need to keep the backend data as clean as possible, we want to keep an eye on specimens being marked as collected that have been not and see how much of an issue it is.
The SOP does state not to mark the tubes collected until after they have been collected and if one was marked by accident to us

[2022-07-26 18:11] Davinkjohnson opened #775 "Adding Search and Sort for Verified Status"
This request is from Kristin at KPNW:

it would be great to be able to QC what the recruiters verify or not, if I could sort under the various Participants drop downs e.g., “not yet verified” by the different headers. Right now everything is in Connect ID order which makes it not intuitive to a search by date, last name etc. and the “Verified PPT” section has already 26 tabs which makes it difficu

[2022-07-26 19:58] wyattks commented on #340
Putting on hold- just spoke with the sites and in interest for maximum flexibility with tubes sizes and amounts we are leaning towards 1 screen for all the sites.

[2022-07-26 20:37] Davinkjohnson commented on #340
@wyattks Do we know which tubes they want on the "unified" screen? (I'll let @geniosys make the call on whether he wants a whole mock-up or just the listed items.)

[2022-07-26 20:39] wyattks commented on #340
It's going to look similar to the NCI mock-up screen.   We have asked what their maximum numbers for each tube type would be.

[2022-07-26 21:02] Davinkjohnson commented on #340
OK. Hendrick and I just chatted. and if the only change is that they'll be using a unified list of items (tubes, cups) then a list should suffice. but if there are other changes, we might need a mock-up.

any idea on ETA for the list? (we had estimated several days of work for this, so if we're sticking to Dev testing the week of 8/8 we'll need the correct requirements pretty quick.)

[2022-07-27 19:31] Davinkjohnson commented on #556
[MasterSurveyComb_Clinical CommentsMB.xlsx](https://github.com/episphere/connect/files/9203026/MasterSurveyComb_Clinical.CommentsMB.xlsx)

Comments on the DD for derivation updates can be found here.

[2022-07-28 13:21] wyattks commented on #550
Jaime tested in stage ready for production

[2022-07-28 14:18] wyattks commented on #268
Changes to the data collection entry screen are being captured in Issue #340

I am closing this issue as the addition of the urine tube is part of the changes listed in the mock-up there.

[2022-07-28 14:18] #268 closed

[2022-07-28 14:22] wyattks commented on #340
Waiting on KP sites to reply with tube information.  Once we have that information we will update the mock-up and reattach it here.
We are also adding back into the page the check boxes to indicate which tubes were collected.  We will NOT have the dropdown for reason not collected added back in.  The reason not collected information will not be known by the person entering the data into the dashbo

[2022-07-28 17:26] wyattks opened #559 "Marshfield Production Data update for FedEx tracking numbers"
Marshfield has an issue on 7/27/2022 with the tracking numbers on some of their shipments.  A user at Lake Hallie selected the incorrect shipping location and assigned a FedEx tracking number a shipment from Main Marshfield completing the shipment,  The Lake Hallie user then applied the same Tracking number to the shipment from Lake Hallie.   They also shipped a package without completing the ship

[2022-07-28 20:17] #559 closed

[2022-07-29 12:38] #229 closed

[2022-07-29 12:38] #550 closed

[2022-07-29 12:39] #549 closed

[2022-07-29 14:37] wyattks opened #560 "Keep Research Collection and shipping locations selected"
On the Specimen link and shipping packaging screens, when a user selects a location, keep that location selected steady (don't have the system revert back to the select default) even if they move to another screen and return.  Only reset the selection to the Select default when the user has logged out of the dashboard and logs back in.

[2022-08-01 20:03] HopkinsDC commented on #340
Updated mock-up for clinical Collection Data Entry page (**confirmed by KP sites on 8/1**)

![Screen Shot 2022-08-01 at 12 54 15 PM](https://user-images.githubusercontent.com/85250133/182235029-a1dbc1fa-18d5-4ae1-b3c1-e379efabbc26.png)

[2022-08-01 21:22] brotzmanmj commented on #340
We will need some new tube variables created in order to implement this. @HopkinsDC will create an issue specific to that request and assign it to Nicole and Madhuri.

[2022-08-02 12:30] HopkinsDC commented on #340
After reviewing the data dictionary, we don't need any more tube variables created. The correct number of variables is already present
[Tube Variables_MasterSurveyComb_20220317.pdf](https://github.com/episphere/connect/files/9242178/Tube.Variables_MasterSurveyComb_20220317.pdf)
.

[2022-08-02 20:22] HopkinsDC opened #561 "CSV File Bug - Date Received for Orphan Sample"
The urine tube for CXA000197 in prod was shipped a few days after the blood and mouthwash tubes by Sanford. The blood tubes were received at BPTL on 7/27. The urine tube (CXA000197 0006) was sent in a box by itself on 7/29 and received at BPTL on 7/30. The urine tube was shipped as an orphan in an unlabelled bag.

In the Biospecimen data table: The overall date received for the collection is 7/27

[2022-08-02 20:51] HopkinsDC opened #562 "Reports: Date Shipped vs Date Received"
UChicago reported that packages on their Reports section of the dashboard in prod display the same date for both Date Shipped and Date Received. Date Received should be at least 1 day after Date Shipped.

Michelle checked the data report and confirmed both dates look fine, so this may be a dashboard UI issue.

[2022-08-11 14:36] wyattks commented on #318
Hendrick- As scanning the Accession IDs removes the dashes and we need to strip the letter at the end, how do we handle manual entries for this?
Should we add a note to tell people if they are hand entering to include numbers only, no dashes and no letters or can we automatically strip out dashes and letters when doing the QC check?  Any other ideas?

[2022-08-11 18:14] brotzmanmj commented on #562
Hi, just checking on status of this issue? We saw a screenshot of HP's dashboard today and the Date Received on their Report in prod is also not displaying correctly (Chicago reported the same issue).  Thanks.

[2022-08-11 20:24] wyattks opened #563 "Add a second scan box for Collection ID on Specimen Link Screen"
On the Specimen Link screen where the Collection ID is entered, add a second scan box under the first and label as "Re-enter Collection ID".   Allow for the user to scan or manually enter into these two boxes and remove the manual entry boxes for the Collection ID. As there is no way to restrict users from manually entering in the scan box, we feel it would be easier to force them to fill in twice

[2022-08-11 20:25] wyattks commented on #447
Adding a new issue for #1 as we are changing the request. Issue #563

[2022-08-11 20:25] #447 closed

[2022-08-12 19:17] wyattks opened #564 "Change Collection Location HFHS Research Clinic (Main Campus) to HFH K-13 Research Clinic"
Henry Ford has asked us to change the Collection Location HFHS Research Clinic (Main Campus) to HFH K-13 Research Clinic as it will give them more context to where they physically collected the samples.
We need it changed in the following places:

- Biospecimen Dashboard Specimen Link Drop Down (Davin to assign)
- Biospecimen BPTL CSV (Abhinav)
- Data Dictionary update of the label (Nicole's team)

[2022-08-12 19:25] brotzmanmj commented on #564
The Concept ID should remain the same, just the label needs to change. Thanks.

[2022-08-15 14:26] wyattks commented on #318
Having trouble adding the attachment above
[Clinical Accession ID Search July 19 2022.pptx](https://github.com/episphere/connect/files/9337785/Clinical.Accession.ID.Search.July.19.2022.pptx)

[2022-08-15 19:25] geniosys commented on #318
@wyattks it's really up to you. For now, I stripped the last character when the user scanned the label since the - is already removed based on what I see in the xls file you shared with me last week. For data entry, I was planning to show all characters with last char stripped like shown in the xls file, example: 321112123456

[2022-08-16 13:24] wyattks commented on #562
This works in Dev.  It is ready to be pushed to Stage for testing.

[2022-08-16 17:45] StephanieWeinstein commented on #318
per our discussion today (8/16) we will add a note to tell people if they are hand entering the accession ID, to only include numbers, no dashes.  We will also add a QC check so if they add dashes they will get a warning to take them out.

[2022-08-16 19:41] cunnaneaq opened #726 "Phone number log in issue - loop when responding to 'not a robot' questions"
HP participant tried logging in using a phone number.  After entering the verification code and completing the "not a robot" questions, they were looped back to the initial screen to enter their phone number.

They eventually received a message that they had attempted to log in with that phone number too many times.

Participant was using Safari on her phone and then tried using an incognito chrom

[2022-08-17 12:02] HopkinsDC commented on #562
HealthPartners tested and confirms this works in stage. Approved in stage and is ready for deployment.

[2022-08-17 17:48] wyattks commented on #318
It did not strip off the end letter when I scanned in the accession IDs.  Is it capturing it in the backend with out the end letter?

[2022-08-17 17:48] wyattks commented on #404
Ready for Stage

[2022-08-17 17:49] wyattks commented on #555
Confirmed this is working in Dev

[2022-08-17 17:49] wyattks commented on #404
Confirmed this is working in Dev

[2022-08-17 17:49] wyattks commented on #563
Confirmed this is working in Dev

[2022-08-17 20:45] wyattks commented on #551
@anthonypetersen Can you check backend data for me?  I ran a test today on Connect ID 8502122714, Collection ID CXA002644.  Can you see if the collection Data and time is not populated but the scanned at regional lab is?

[2022-08-18 14:08] HopkinsDC commented on #318
@geniosys The error message for the Accession ID scanning field should be "**This entry can only contain numbers.**" This message should apply to the presence of dashes as well.

[2022-08-18 19:45] anthonypetersen commented on #551
@wyattks likely bug found.. I'll reach out to @geniosys

[2022-08-23 14:46] #21 closed

[2022-08-23 14:47] #27 closed

[2022-08-23 14:48] Davinkjohnson commented on #28
Maybe re-visit this. (Not sure if this falls within the current refuse/withdrawal with return option.)

[2022-08-23 14:48] #30 closed

[2022-08-23 14:48] Davinkjohnson commented on #31
Looks like a dup.

[2022-08-23 14:48] #31 closed

[2022-08-23 14:50] #35 closed

[2022-08-23 14:52] Davinkjohnson commented on #41
Discuss this at either leads or Tech review meeting.

[2022-08-23 14:53] Davinkjohnson commented on #51
Will create a new ticket with more clear requirements, if needed in future.

[2022-08-23 14:53] #51 closed

[2022-08-23 14:54] #52 closed

[2022-08-23 14:56] #69 closed

[2022-08-23 14:57] Davinkjohnson commented on #73
@cusackjm to test this week.

[2022-08-23 14:58] Davinkjohnson commented on #74
@cusackjm to test

[2022-08-23 15:22] danielruss commented on #74
@cusackjm  I was not expecting this question.  The user profile is in a javascript function:
https://github.com/episphere/connectApp/blob/master/js/components/form.js#L24
preferred email/phone is:
https://github.com/episphere/connectApp/blob/master/js/components/form.js#L203

[2022-08-23 15:52] wyattks opened #565 "Add New Collection/Shipping Locations (HFH - Livonia) (Marshfield - Weston)"
Please add a Collection Location (BioSpm_Location_v1r0 - CID: 951355211) AND Shipping location (BioShip_LocalID_v1r0 - CID: 560975149) for Henry Ford called “**HFH Livonia Research Clinic**”.

We need it added in the following places:

Biospecimen Dashboard Specimen Link Drop Down (Davin to assign)
Biospecimen Dashboard Shipping Drop Down (Davin to assign)
Biospecimen BPTL CSV (Abhinav)
Data Dicti

[2022-08-23 19:28] danielruss commented on #75
This was part of the user profile.  it's a two+ year old issue.  I think it was long fixed.

[2022-08-23 19:48] #75 closed

[2022-08-24 13:46] anthonypetersen commented on #566
transferred to Biospecimen Dashboard because this code is ran there

[2022-08-24 18:46] wyattks commented on #404
Ready for stage

[2022-08-24 18:46] wyattks commented on #555
Ready for stage

[2022-08-24 18:46] wyattks commented on #563
Ready for stage

[2022-08-24 18:47] wyattks commented on #318
Confirmed - ready for stage

[2022-08-24 18:47] wyattks commented on #557
Confirmed - ready for stage

[2022-08-24 18:48] wyattks commented on #560
Confirmed - ready for Stage

[2022-08-24 19:50] FrogGirl1123 commented on #563
@wyattks @StephanieWeinstein  does the double entry also apply to the accession IDs?  The email thread from Aug. 12th was on accession IDs, but Stephanie mentioned this issue.

[2022-08-24 20:41] FrogGirl1123 commented on #552
@geniosys CID 693370086 (Clinical Site Blood Collected) will be pushed from KP.  878865966 (BioFin_BaseBloodCol_v1r0 ) is the flag for baseline blood collected for the research collection.  In order to trigger the incentive, 731498909 (Eligible for Payment), 693370086 will need to be added to the derivation for 731498909 (Eligible for Payment) or the derivation for  878865966 (BioFin_BaseBloodCol_

[2022-08-24 21:04] wyattks commented on #563
Yes  we want them to double enter the Accession IDs.  But we won't be able to distinguish between a scan and manual entry.

[2022-08-25 17:30] HopkinsDC opened #567 "Accession ID Message - Font Color Change"
On the Specimen Link page where the blood and urine Accession IDs are scanned into the dashboard, change the color of the message from red to black and remove the red around the scanning fields. See image below for reference.

![image](https://user-images.githubusercontent.com/85250133/186730489-668c9665-402f-46bb-8a45-4b47ee76fc7b.png)

[2022-08-25 17:38] HopkinsDC opened #568 "Collection ID Link - Truncate the Sequence Number"
On the Specimen Link page where the Collection ID is scanned twice to link to the participant's Accession IDs, the last 4 digits (the sequence number) should be removed when a Collection ID label is scanned into the fields. The format for these fields should be "CXA######". See the image below for reference.

![image](https://user-images.githubusercontent.com/85250133/186732333-63c71a7d-441e-434a-

[2022-08-25 18:01] HopkinsDC opened #569 "Urine Accession ID Not Showing on Specimen Link"
On the Specimen Link page where the Collection ID is scanned twice to link to the participant's Accession IDs, the urine Accession ID is displaying as "N/A" even if a urine Accession ID is entered. The ID should be displayed like the blood Accession ID. (if no Accession ID is entered, for either blood or urine, it is ok to display "N/A".) See image below for reference.

![image](https://user-image

[2022-08-25 18:59] anthonypetersen commented on #339
closing as we don't use passwords anymore

[2022-08-25 18:59] #339 closed

[2022-08-25 19:37] FrogGirl1123 commented on #563
@geniosys  Hi Hendrick, for the double entry of the Accession IDs for blood and urine, we need an open text box for each entry.  Your code should confirm that the two entries match each other and if not then request they enter again.  We will not need to store the Accession ID twice, so we don't need a second Concept ID for the second entry.  Davin and I discussed this briefly and he thinks this i

[2022-08-26 15:35] HopkinsDC opened #570 "Deviations for Discard Flag"
There are 5 deviations that should have a discard flag:

472864016: Broken (discard, do not ship)
982885431: Not Found
684617815: Mislabeled – discard
956345366: Insufficient Volume
810960823: Discard (record in comments)

The Discard Flag was marked as YES for “Broken (discard, do not ship)”, “Mislabeled – discard”, “Insufficient Volume” and “Discard (record in comments)” in Scenario 3 of our cli

[2022-08-26 15:48] HopkinsDC commented on #569
Confirmed this is working in dev. Ready for stage.

[2022-08-26 19:33] Davinkjohnson opened #571 "Biospecimen DB logins persisting on shared device"
I was just alerted to an issue with the biospecimen dashboard SSO that I don’t know if other sites have reported. Several of our field staff have said that when they log in to the biospecimen dashboard, it often accepts the log in but will display another user. In the recorded instance, you can see that Ayah Kesrawani is logged in, then they sign out, and then sign in as Kirsti Autio, but the user

[2022-08-26 19:42] cusackjm commented on #74
This is not a function in the pwa anymore

[2022-08-26 19:42] #74 closed

[2022-08-29 14:19] wyattks commented on #542
@Gbarra9 In testing the clinical dashboard we are finding this same issue.

[2022-08-31 15:29] geniosys commented on #552
@FrogGirl1123 Thank you. I think much of the logic was already set, so all I had to do is add a condition that would either trigger the research or clinical.

[2022-08-31 17:22] brotzmanmj commented on #552
Was the logic updated to include the variables coming from KP via API?

[2022-08-31 19:20] wyattks commented on #567
Font color is changed.  Ready for Stage

[2022-08-31 19:22] wyattks commented on #569
Confirmed in Dev.  Ready for deployment in Stage

[2022-08-31 19:23] wyattks commented on #568
Confirmed in Dev.  Ready to be moved to Stage

[2022-08-31 19:55] wyattks opened #572 "Gray out mouthwash bag if mouthwash sample not collected"
On the Collection data entry screen, keep the mouthwash bag data entry field grayed out (unable to enter data) until a Collection ID is scanned into the Mouthwash container field.   Even if the check box next to the bag is selected keep it from having data entered.

[2022-08-31 20:09] abhinavjonnada82 commented on #564
Site name changed on DEV

[2022-09-01 13:49] Davinkjohnson commented on #552
Hendrick has some more changes to make to the logic. Will update team when they're ready

[2022-09-01 13:50] Davinkjohnson commented on #551
Hendrick to verify he fixed this.

[2022-09-01 13:53] Davinkjohnson commented on #570
Update so 982885431: Not Found will flag the discard flag to "Yes"

[2022-09-01 14:00] Davinkjohnson commented on #556
Michelle to check this today

[2022-09-01 15:43] geniosys commented on #552
@Davinkjohnson @brotzmanmj I updated the logic to include today's discussion input.

[2022-09-02 18:52] brotzmanmj commented on #564
Kirsti at HFH tested this in dev and it looks good. Ready to push to stage.
Remaining things to do are:
@wyattks update BSI so it will accept the new location as in the CSV file 'HFH K-13 Research Clinic'.
@FrogGirl1123 update the Data Dictionary for concept ID for the Collection Location (variable 951355211, response code 7361830940) to 'HFH K-13 Research Clinic' instead of 'HFHS Research Clinic

[2022-09-06 12:41] wyattks commented on #564
BSI has been updated.

[2022-09-06 16:13] brotzmanmj opened #573 "Trigger for baseline clinical biospec blood/urine survey"
Trigger the baseline clinical biospecimen blood/urine survey to appear on MyConnect upon the baseline specimen link being created in the clinical biospecimen dashboard. The survey should only trigger once... on the first instance of the baseline specimen link being created. If a second baseline specimen link is made, don't trigger the survey again.

The first email about this survey should also be

[2022-09-06 16:29] wyattks commented on #564
Ready for Production

[2022-09-06 16:55] wyattks commented on #572
The Bag data entry field is gray when the box is checked but it remained gray after I entered in an ID for the mouthwash.  Can we make it that as soon as the ID is entered into the mouthwash data entry field it allows for the Bag ID to be entered or do we have to save it first?

[2022-09-06 19:45] wyattks commented on #542
This happened in the Dev dashboard 9/6/2022.  Abhinav had asked me to create an Orphan tube for testing with the csv file date/time stamp.  I created a collection for CXA000130, collected and shipped all but the Urine tube.  I went back and collected CXA000130 0006 and moved it to shipping.  When I tried to put CXA000130 0006 in a box I received an error stating it hadn't been collected.  If you g

[2022-09-07 14:48] wyattks commented on #476
Ready for Stage

[2022-09-07 17:24] wyattks commented on #318
Just tested and a modal does not exist yet if the Accession ID has already been linked:
If the Accession ID is already in the system, a modal should appear stating what Collection ID the Accession ID has been linked to and offer two choices. The first choice should be "Add Specimens to existing Collection ID". If this is selected, the user should be taken to the data entry screen for that Collecti

[2022-09-07 17:36] wyattks commented on #567
We are no longer seeing the message to not include dashes and letters in the entry.   Moving back to In Deployment.

[2022-09-07 18:43] geniosys commented on #318
@wyattks The modal does exist for Blood accession id only. I think it was specifically written that way in the pptx file and I think Michelle or Stephanie provided a rationale for it, but I don't remember now. See screenshot for Blood Accession ID in Teams

[2022-09-07 18:50] wyattks commented on #318
that's the one I entered in Dev.  Connect ID: 6007672745  Collection ID assigned: CXA000128  Blood Accession ID: 422196000725
I am not getting the modal when entering the Blood Accession ID again.

[2022-09-07 19:57] StephanieWeinstein commented on #318
I think this basically repeats what Kathleen has already posted above, but just as a recap (the quotes are from above):

I TYPED IN 321112123456 WHICH IS ONE I USED BEFORE BUT IT IS NOT DOING A QC CHECK.  I TYPED IN ANOTHER ONE WE USED BEFORE AND ALSO NO QC CHECK, IT JUST BRINGS ME TO THE SPECIMEN LINK PAGE.  DOES IT ONLY DO QC CHECK OF ACCESSION IDS ENTERED ON THE SAME DAY?

UNABLE TO TEST SINCE

[2022-09-07 20:02] wyattks commented on #318
Hendrick and I just discussed what is going on.  He is going to put the wording below the boxes.  He was looking into why the modal was no longer appearing.  I was able to show him what was going on.

[2022-09-07 20:03] StephanieWeinstein commented on #557
9/7/22 - I concur this looks correct.

[2022-09-07 20:25] StephanieWeinstein commented on #560
This worked for the collection location but not the shipping location.  I selected "Frederick" from the dropdown shipping location and I put a bag into Box 33.  I then clicked either "home" or "dashboard" and then went back to shipping, and the drop down defaulted back to "select shipping location".  but since I had not logged out, it should have stayed on "Frederick".

I also tested it by moving

[2022-09-07 20:40] StephanieWeinstein commented on #572
It still does not look like this works.  here is a screen shot showing that I have entered all the tubes including the mouthwash container, but the mouthwash bag is still grayed out.

![image](https://user-images.githubusercontent.com/64600223/188972502-8b4948a3-3ec6-4de0-bb35-b988ee274b38.png)

[2022-09-07 20:48] wyattks commented on #572
This one is going to include a small process change.  They need to wait to select the mouthwash bag until after they have entered the mouthwash container ID.  If they do that the field opens up.  Otherwise they have to save and then enter the bag ID.

[2022-09-07 20:58] wyattks commented on #572
@geniosys can you make it so when the Check All box at the top is selected the box for the Mouthwash Bag is not marked?

[2022-09-08 15:14] geniosys commented on #572
Done

[2022-09-08 18:03] wyattks commented on #572
The wrong bag is left unchecked. You have it so the Blood/Urine bag (0008) remains unchecked but we need the Mouthwash bag to remain unchecked (0009).

[2022-09-08 18:53] geniosys commented on #572
Good catch. It's been updated now :)

[2022-09-08 19:00] wyattks commented on #572
Great Thank you.  Confirmed it works in Dev.  Ready for Stage
![image](https://user-images.githubusercontent.com/64605220/189204312-d58909de-7895-4202-bdb2-c577dd9bd4d0.png)

[2022-09-08 19:08] wyattks commented on #567
Verified in Dev.  Ready for Stage
![image](https://user-images.githubusercontent.com/64605220/189205939-18a31b7a-6c17-4d26-ada6-6eb95bb2e411.png)

[2022-09-08 19:10] wyattks commented on #318
Modal pop up for existing Accession ID link verified.  Ready for stage.
![image](https://user-images.githubusercontent.com/64605220/189206217-2cc23790-9b7f-46ad-82ef-3a072e980d7b.png)

[2022-09-08 19:55] wyattks opened #574 "If blood and Urine are marked as collected force the bag to be marked as well"
On both the clinical and research dashboards, if any blood or urine tubes are marked as collected and any Full Specimen IDs have been entered, the user should be forced to also mark the blood/urine biohazard bag (0008) as collected and enter in the Full Specimen ID for that bag. The check should happen when hitting either the "Save" or the "Go to Review" button. If the bag does not have its Full S

[2022-09-08 20:01] wyattks opened #575 "Prevent Copy and paste into second data entry field when assigning Collection IDs"
On the specimen link page for both Clinical and Research, do not allow the user to copy and paste the Collection ID into the Re-scan/Type Collection ID from Label Sheet data entry field.

![image](https://user-images.githubusercontent.com/64605220/189214738-2a74d8a1-879c-4aac-a059-8e7d0b086601.png)

[2022-09-09 13:59] wyattks commented on #575
Confirmed I cannot copy and paste for research
Confirmed I cannot copy and paste for Clinical

Ready for stage

[2022-09-09 14:03] wyattks commented on #560
Confirmed this works now for the Shipping location

[2022-09-13 16:08] HopkinsDC opened #576 "Extra Collection ID Sequence Numbers (0050-0054) Not Showing in Manifest - (Biospecimen)"
The clinical box manifests do not display any extra Collection ID labels (0050-0054) when used in place of the tube sequence numbers (0001, 0002, etc.) and default to the tube sequence numbers. (See screenshot below) Kathleen confirms that Firestore does have the 0050-0054 sequence numbers, but they are showing incorrectly in the manifest.

![Screen Shot 2022-09-13 at 11 58 01 AM](https://user-ima

[2022-09-13 19:13] HopkinsDC commented on #576
@Gbarra9 The extra-label sequence numbers (0050-0054) are correct on the Collection Data Entry review page, but not in shipping. (see screenshots below)

![Data Entry Page](https://user-images.githubusercontent.com/85250133/189989690-7479fc48-bbef-4228-beab-614fc0a8605c.png)
![Review Page](https://user-images.githubusercontent.com/85250133/189989691-5ae96992-f2c1-4776-aa73-a24806300095.png)
![Ship

[2022-09-13 20:51] brotzmanmj commented on #564
Noting that this in production now, but we still have these two subtasks before close out:
@FrogGirl1123 update the Data Dictionary for concept ID for the Collection Location (variable 951355211, response code 7361830940) to 'HFH K-13 Research Clinic' instead of 'HFHS Research Clinic (Main Campus)
and
Jing to update the format code for this response code

[2022-09-14 14:48] wyattks opened #577 "Receive date not being captured in firestore"
During the clinical testing, when we created shipping scenarios with straggler tubes, the receipt date at BPTL is not being captured in firestore.

Examples:

Ship Scenario B using CXA002654
The ACD and Urine tubes were collected after the remainder of the collection was sent to shipping and added to Box 3.  Once both tubes were "collected" they were added to the same shipping box.  In firestore,

[2022-09-14 17:38] FrogGirl1123 opened #578 "Remove manual entry flags from Clinical Biospecimen DB"
<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link id=Main-File rel=Main-File
href="file:///C:/Users/GERLAN~1/AppData/Local/Temp/1/msohtmlclip1/01/clip.htm">
<l

[2022-09-14 17:48] FrogGirl1123 opened #579 "Default Deviations Missing for several Clinical Biospecimen Tubes"
See tables below for details.  The center column indicates the type of tube under the Object ID and the numbers are a count of the number of deviation defaults for each tube type.  Only the Serum Separator tubes have all the necessary deviation defaults excluding the one specific to mouthwash and the one specific to urine.  Please ignore the _# associated with the fields in column A and the CIDs i

[2022-09-14 17:50] FrogGirl1123 commented on #579
This is a table of all possible default deviations
<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link id=Main-File rel=Main-File
href="file:///C:/Users/GERLAN~1

[2022-09-14 17:51] FrogGirl1123 commented on #579
@wyattks @StephanieWeinstein please let Dev Ops know if you would like any variation in the default deviations for the urine and mouthwash tubes other than the two issues that are specific to them.

[2022-09-14 17:59] anthonypetersen commented on #578
387108065 is being tracked in research dashboard currently, is that fine? @FrogGirl1123

[2022-09-14 18:16] StephanieWeinstein commented on #579
Nicole,
There are deviations that are for the serum separator tubes only, that are not relevant to the other tubes. So we expected there would be more deviations on the serum separator tubes. These have to do with the centrifuging (the other tubes are not centrifuged)

102695484 | Deviation- Centrifuge -  did not clot at least 30 minutes |  
912088602 | Deviation- Centrifuge -  clotted for longer

[2022-09-14 18:21] anthonypetersen commented on #579
I was going to say.. We wouldn't expect every deviation to be saved under ever tube, only the deviations that apply to each tube.

[2022-09-14 19:02] FrogGirl1123 commented on #579
@StephanieWeinstein  and @anthonypetersen We just got to that on a call with Michelle and Dominique.  The matrix that was given to the programmers was never given to my team so we don't have those distinctions made in the data dictionary.  Dominique is looking for the issue with the matrix to tag Madhuri and Jing in.  Could someone from the Biospecimen team please check the table above and confirm

[2022-09-14 19:05] StephanieWeinstein commented on #579
I can check for each tube that there is a number next to each deviation that goes with that tube, is that what you mean?  I can do this at 4pm.

[2022-09-14 19:13] FrogGirl1123 commented on #579
@StephanieWeinstein you'll have to look at column A to see read the deviations but column B will show which tube is associated with each object ID.  When I asked about if there were different deviations for different tubes in teams yesterday, this is what I meant.

[2022-09-14 19:32] brotzmanmj commented on #556
Discussed the derivations for clinical variables with Nicole and Domonique today.
Updated comments on DD for derivations (see attached file).
Changes were made only to these 4 variables:
BioFin_BaseBloodCol_v1r0
BioFin_BBTime_v1r0
BioFin_BaseUrineCol_v1r0
BioFin_BUTime_v1r0

[MasterSurveyComb_Clinical.CommentsMB_rev.xlsx](https://github.com/episphere/connect/files/9569356/MasterSurveyComb_Clinical

[2022-09-14 21:04] StephanieWeinstein commented on #579
Hi @FrogGirl1123, I reviewed the tables you have above and compared them with what we see in the dashboard entry screen and what we have listed in our SOPs for deviations.  Everything looks exactly right.

But I am wondering if we want to add a simple "discard" option for urine and mouthwash like we have for blood, I have a question out to the biospecimen team on that one and will get back to you

[2022-09-15 19:20] anthonypetersen commented on #573
code is complete, waiting on markup from IMS

[2022-09-19 15:19] anthonypetersen commented on #556
@FrogGirl1123 did 928693120 get deprecated? looks like there are still two CIDs in DD for "scanned DB urine accession number"

[2022-09-19 15:29] wyattks commented on #564
@jeannewu yes that is correct

[2022-09-19 15:49] jeannewu commented on #564
Got it. Thanks.

[2022-09-19 19:03] wyattks opened #580 "Push all NCI Clinical features to all Clinical dashboards in Dev"
During the test with KPNW today, it became apparent that all the clinical changes made in Dev were only activated (Correct term?) for the NCI site.  All clinical requirements and changes implemented for the NCI Clinical dashboard need to be pushed to all of the clinical sites in the dev environment.

For example, we asked for a modal to appear on the Accession ID link page if the user only enters

[2022-09-20 14:52] Davinkjohnson commented on #64
Conversation of this is currently ongoing, include this when we enable collections at both research and clinical sites. (timing TBD)

[2022-09-20 14:55] Davinkjohnson commented on #66
Depends on the level desired
checking formatting (10-digit # for phone and 5-digit for zip) is viable
validating via API call to USPS that a zip code is valid is harder

[2022-09-20 14:56] Davinkjohnson commented on #76
Determined we do not need this functionality at this time.

[2022-09-20 14:56] #76 closed

[2022-09-20 14:58] Davinkjohnson commented on #77
Davin to follow up with testers on this. (is it required now)

[2022-09-20 15:03] Davinkjohnson commented on #77
@cusackjm next time you create a participant for testing can you please see whether the cancer diagnoses question on the User Profile is **required**?

[2022-09-20 15:05] Davinkjohnson commented on #79
@cusackjm Can you also check this one next time you're creating test participants?

[2022-09-20 15:18] cusackjm commented on #77
@Davinkjohnson its required in stage
![image](https://user-images.githubusercontent.com/85582895/191297883-d4091fcc-00e4-4088-8faa-9d62eaa3d4cd.png)

[2022-09-20 15:19] #77 closed

[2022-09-20 15:20] #81 closed

[2022-09-20 15:22] Davinkjohnson commented on #82
@FrogGirl1123 Are we managing this requirement with the submitParticipantData API?

[2022-09-20 15:28] brotzmanmj commented on #64
We told the sites we won't begin discussing this at least until early 2023, after the clinical biospecimens and the home mouthwash collections are launched.

[2022-09-20 15:29] cusackjm commented on #79
![image](https://user-images.githubusercontent.com/85582895/191300256-0bc550c4-6339-4f1c-ad9f-9a73e6b60af0.png)
@Davinkjohnson is this what they are referring to? I'm otherwise unsure what I should be looking for

[2022-09-21 17:04] Davinkjohnson commented on #79
I think we'll need some input from @brotzmanmj or Deanna as to whether this captures what's needed, but it looks like (unless the disclaimer is on a different page) that we either don't need this anymore or it wasn't added.

[2022-09-21 17:33] Davinkjohnson commented on #145
No Longer needed (as we do not use email + password inferred above)

[2022-09-21 17:44] anthonypetersen commented on #556
Biospecimen Clinical Derivations

Done

* 592099155 - Blood Collection Setting
    * Based on 650516960 from dashboard
* 718172863 - Urine Collection Setting
    * Based on 650516960 from dashboard
* 646899796 - Scanned DB blood accession number
    * Only set on Clinical Dashboard
* 955466813 - Urine Accession ID Manually Entered
    * Remove from code
* 678166505 - Collection Date/Time
    * Onl

[2022-09-21 21:29] anthonypetersen commented on #556
Comments:

* 678166505 - Only research, not used for clinical
* checkPaymentEligibility needs to be updated in PWA
* 731498909 / 787567527 needs to be set based on OR from KP variable, not AND

* 561681068 and 847159717 need further discussion, should KP send different CIDs?
* 254109640 needs further discussion, put this in Firestore?

Things to Add to Update Participant Derivation Checking:
* 731

[2022-09-21 23:09] FrogGirl1123 commented on #579
Thanks Stephanie!  I'll go ahead and close the issue.  I we need the simple "discard" variables for the mouthwash and urine, we can create a new issue to add those.

[2022-09-21 23:09] #579 closed

[2022-09-21 23:11] FrogGirl1123 commented on #578
The CIDs have been removed per additional teams chat.

[2022-09-21 23:11] #578 closed

[2022-09-22 14:35] anthonypetersen commented on #556
DERIVED VARIABLES NEEDED

* ANY specimen collected at RRL
- would be yes if 534041351 = YES or 210921343 = YES

* Date / Time ANY specimen collected at RRL
- set when variable above set to YES

Both would be stored in participant table under Collection Settings -> Baseline

[2022-09-22 14:39] HopkinsDC commented on #570
Confirmed this is working in Dev. Ready for Stage.

[2022-09-22 15:09] HopkinsDC commented on #580
Another example is the cursor auto-tab on Accession ID page. After scanning the Blood Accession ID into the first field, the cursor moves to the first Urine Accession ID field instead of the second Blood Accession ID field.

[2022-09-22 15:31] HopkinsDC opened #581 "Add "Confirm" modal to Accession ID page"
On the Specimen Link Accession ID page, add a "Confirm Accession ID" modal when the Submit button is clicked. Please see image below for mock-up. If only one Accession ID is entered, either blood or urine, "N/A" can appear in the modal next to the Accession ID that was not entered.

![Accession ID confirm modal](https://user-images.githubusercontent.com/85250133/191789633-440b34ed-3701-4cd1-b08f-7

[2022-09-22 16:24] HopkinsDC commented on #576
@Gbarra9 The extra-label sequence numbers (0050-0054) are **correct** when I generate a CVS file in the BPTL dashboard

[2022-09-22 16:31] anthonypetersen commented on #556
Follow Up Comments

* 561681068 and 847159717 will be Research ONLY, not used by Clinical
- equivalent CIDs will be populated by KP / Clinical Sites

[2022-09-23 15:24] HopkinsDC opened #582 "Updates to Shipping and Box Manifests"
MANIFEST UPDATES

In the shipping dashboard please update the site contact information in the box and shipping manifests.

**KPGA** - Remove name and info for Brandi Robinson and replace with the following contact info:
-Name: Laura Gonzalez Paz
-Email: Laura.M.Gonzalezpaz@kp.org
-Phone: 561-860-6240

**Sanford** - Remove name and info for DeAnn Witte (**leave info for Kimberly (Kay) Spellmeyer**)

[2022-09-23 18:42] Davinkjohnson commented on #582
@geniosys is taking over the Biospecimens dashboard (which encompasses both Clinical and Research workflows). He'll be back next week so I'll assign it to him.

[2022-09-28 14:21] wyattks opened #583 "Allow for a second Collection ID to be associated to an Accession ID"
For the KP Clinical Collections add an option to add a new collection ID when they get the pop-up of the accession ID already being in the system. It would be really nice (not sure if feasible) if the modal could also include the date the accession ID was previously used.

"Accession ID entered was assigned to Collection ID CXAxxxxxx on mm/dd/yyyy. (If this is not today's date, you cannot add spec

[2022-09-29 14:17] HopkinsDC commented on #574
This is working correctly in dev. Ready for stage.

[2022-09-30 13:35] jonasalmeida opened #727 "about connect not displaying well in mobile"
The subpages of myconnect, such as https://myconnect.cancer.gov/#about, don't respond to form factor. The parent page, https://myconnect.cancer.gov, is fine.

![Screen Shot 2022-09-30 at 9 30 35 AM](https://user-images.githubusercontent.com/204769/193281348-059351bf-3f6c-4329-9313-c4cee7225948.png)

[2022-10-03 18:07] HopkinsDC commented on #542
Straggler tube issue tested in dev using the following biospecimen data:
Connect ID: 8062798612
Blood Accession ID:42115401234
Urine Accession ID:42115401235
Collection ID: CXA222010

SST tubes individually appear when the tube’s Full Specimen ID (CXA222010 0001, CXA222010 0002, CXA222010 0011, CXA222010 0012) is searched, but the dashboard buffers when “Add to Box” is clicked.

![Screen Shot 2022

[2022-10-03 20:18] HopkinsDC commented on #542
SST straggler tubes were successfully added to box and shipped.

![Screen Shot 2022-10-03 at 4 10 57 PM](https://user-images.githubusercontent.com/85250133/193672219-7d019108-7d61-464a-ba06-b5bc11c8709d.png)

Tubes are still not showing in CSV file after being received.

[10_3_2022-BSI-data-export (2).pdf](https://github.com/episphere/connect/files/9700654/10_3_2022-BSI-data-export.2.pdf)

[2022-10-03 20:48] HopkinsDC commented on #565
@FrogGirl1123 Hi Nicole, we will start the process of adding another location to the Henry Ford site, and I wanted you to be aware of this issue. It is on hold, but we hope to initiate this in the next couple of weeks. Please let us know if you have any questions.

[2022-10-03 21:05] StephanieWeinstein commented on #565
Hi Domonique, this was discussed in the Leads meeting and we will now go forward with it, so can you move it off of hold?  (sorry I didn't tell you that earlier!)  Kathleen, did you get confirmation from Kirsti on the exact name?  We don't want to have to change it after the fact!  thanks.

[2022-10-04 12:23] HopkinsDC commented on #565
@StephanieWeinstein @brotzmanmj Kirsti is out until next week, so she will not be on the call. Hopefully, Ben can confirm the exact name for Livonia.

[2022-10-04 20:03] HopkinsDC opened #584 "Update Site Location Names in Research Dashboard (Sanford)"
Please rename “SF Cancer Center LL” to “Imagenetics Building” for Sanford's Collection Location, Shipping Location, and the manifest.

[2022-10-04 20:18] HopkinsDC commented on #565
HF confirms the name for the Livonia location is **HFH Livonia Research Clinic**.

[2022-10-04 23:18] brotzmanmj commented on #584
We need clearer direction for the team on this. Are you referring to the shipping location or the collection location? We already updated the collection location for HFH to reflect K13 so that change is done. For the Sanford change is the change requested for the collection location, the shipping location, or just on the manifest?

[2022-10-04 23:21] brotzmanmj commented on #564
@FrogGirl1123 Please update the Data Dictionary for concept ID for the Collection Location (variable 951355211, response code 7361830940) to 'HFH K-13 Research Clinic' instead of 'HFHS Research Clinic (Main Campus)'

[2022-10-05 22:35] FrogGirl1123 commented on #564
The update has been made to the data dictionary.  Pleas be sure to tag Madhuri in requests for data dictionary changes as she often has more bandwidth.

[2022-10-06 11:32] HopkinsDC commented on #577
Ship scenarios B, C, and F tested again on 10/5-10/6. Scenario data for second test in document below.

[GH.Issue.577.docx](https://github.com/episphere/connect/files/9724353/GH.Issue.577.docx)

**Ready for check in firestore.**

[2022-10-06 12:53] wyattks opened #585 "Change Marshfield contact on Box and Shipping Manifests"
Please change the contact person on the Marshfield Box and shipping manifests from Terry Foss to Lisa Ott.
If needed her phone number is 715-387-9135.

[2022-10-06 13:29] #585 closed

[2022-10-06 13:49] HopkinsDC commented on #584
Added this to #582

[2022-10-06 13:49] #584 closed

[2022-10-06 13:50] HopkinsDC commented on #582
Please rename “SF Cancer Center LL” to “Imagenetics Building” for Sanford's Collection Location, Shipping Location, and the manifest.

[2022-10-06 14:35] HopkinsDC commented on #582
This issue will only be for manifest updates.

[2022-10-06 14:39] HopkinsDC opened #586 "Changes to existing collection and shipping location"

[2022-10-06 15:16] HopkinsDC commented on #565
Please add a Collection Location (BioSpm_Location_v1r0) AND Shipping location (BioShip_LocalID_v1r0) for Marshfield called “**Weston**”.

We need it added in the following places:

Biospecimen Dashboard Specimen Link Drop Down (Davin to assign)
Biospecimen Dashboard Shipping Drop Down (Davin to assign)
Biospecimen BPTL CSV (Abhinav)
Data Dictionary update of the label (Nicole's team)
Metrics forma

[2022-10-06 18:41] StephanieWeinstein commented on #565
can we assign this to multiple people, since multiple need need to do something?  thx.

[2022-10-06 19:15] we-ai commented on #577
The data look correct.

[2022-10-07 15:09] HopkinsDC commented on #580
KPCO confirms these issues are working in dev. Ready for stage.

![Screen Shot 2022-10-07 at 11 07 14 AM](https://user-images.githubusercontent.com/85250133/194586386-7997958c-1bb0-495e-bb5f-fa390be16767.png)

![Screen Shot 2022-10-07 at 11 07 28 AM](https://user-images.githubusercontent.com/85250133/194586428-e873bc8a-2cc1-4dc9-a555-770ce7b13e67.png)

[2022-10-11 17:12] Davinkjohnson commented on #565
ideal timeframe is end of October.

[2022-10-12 12:27] wyattks opened #587 "Create Clinical Survey Flag Derivations"
The following variables need to be derived for the Clinical Surveys.

CID 253883960 (Blood/urine survey completion, SrvBlU_BaseComplete_v1r0)
CID 534669573 (Date/time Status of Start of blood/urine survey, SrvBlU_TmStart_v1r0)
CID 764863765 (Date/Time blood/urine survey completed, SrvBlU_TmComplete_v1r0)

[2022-10-12 19:52] HopkinsDC opened #588 "Add Report Tabs and Check-Out Report to Reports Page"
The Reports page will need two enhancements.
1. The addition of tabs on the left-hand side that can be selected to display a different reports table
2. The addition of a Check-Out Report table that displays participants that have been checked into their appointment but have not been checked out.

- The only tabs that will be functional are "Shipping Report" and "Check-Out Report" for now. Placehol

[2022-10-13 20:15] HopkinsDC commented on #556
Test data for this issue is now in dev.

Participant: BioSix
Connect ID: 1418242905
Blood Accession ID: 42115400446
Urine Accession ID: 42115400447
Collection ID: CXA066177
![Screen Shot 2022-10-13 at 3 50 49 PM](https://user-images.githubusercontent.com/85250133/195700213-d890d265-d9f9-4f5a-9cca-a19b470eef7d.png)

Participant: BioSeven
Connect ID: 7697295198
Blood Accession ID: 42115401889
Urine

[2022-10-13 21:15] wyattks commented on #561
Ran a test in research and clinical. Stragglers showed up correctly in csv file for both dashboards.
[Straggler test 10-13-2022.docx](https://github.com/episphere/connect/files/9780716/Straggler.test.10-13-2022.docx)
[CSV testing 10-13-2022.csv](https://github.com/episphere/connect/files/9780717/CSV.testing.10-13-2022.csv)

[2022-10-13 21:16] wyattks commented on #561
Need to test if they come in on a different day.

[2022-10-14 20:15] Gbarra9 commented on #556
I referenced the list from Tony's comment and checked the concept Ids. I noted whether the concept Id was found or not found.
[Biospecimen Data Validation 10-14-2022.docx](https://github.com/episphere/connect/files/9789752/Biospecimen.Data.Validation.10-14-2022.docx)

Note:

The following following participant information matches

I had a mismatch in information from Participant: BioSix's Collecti

[2022-10-16 23:35] StephanieWeinstein commented on #556
I entered 7 more scenarios covering what Michelle wanted covered. The scenarios and all the identifying data (name, Connect ID, Collection ID, accession numbers, etc) are found in this word document: https://nih.box.com/s/d468rwsq15u041x0h2x9w62cetn8hz5n

screen shots are found in the Powerpoint: https://nih.box.com/s/nu23s1z2h4qn9hc9iep4qm6f74jalkk0

[2022-10-17 15:03] wyattks commented on #561
Tested on 10/14/2022.  Tubes showed up correctly in csv file

[2022-10-17 15:49] wyattks opened #589 "Add Accession ID information to Clinical Data Collection and Collection Summary screens - (Biospecimen)"
Please add the Accession IDs, Blood (BioClin_DBBloodID_v1r0, 646899796) and Urine (BioClin_DBUrineID_v1r0, 611091485) to the Collection Data Entry screen and Collection Summary screen of the clinical dashboard.

@Davinkjohnson Please assign accordingly.

[2022-10-17 15:52] Davinkjohnson commented on #589
I've assigned this to Tony as he is currently working on the bio specimen dashboards

[2022-10-17 20:15] anthonypetersen commented on #556
Firestore data attached
[Firestore 101722.xlsx](https://github.com/episphere/connect/files/9804206/Firestore.101722.xlsx)

[2022-10-17 21:16] brotzmanmj commented on #556
@HopkinsDC  When you are back in tomorrow, can you check each of these variables and make sure these data all look as expected? Let me know if you have any questions.

[2022-10-18 15:55] brotzmanmj commented on #556
Hi @anthonypetersen  We reviewed the firestore data and just one thing didn't seem to align. You have concept ID 928693120 for the urine accession number from the dashboard whereas I have 611091485 for that in the master data dictionary. I don't see 928693120 in the dictionary at all. Can you double check this one?

[2022-10-18 15:58] anthonypetersen commented on #556
Hi @brotzmanmj Nicole decided that we were going to use 928693120, we had a small back and forth about this in the Connect Punch List Teams chat on 10/5

[2022-10-18 16:03] brotzmanmj commented on #556
Ah, Yom Kippur so I might have missed that. Looks like it hasn't been updated in the Master DD? Were there any other changes decided that day?

[2022-10-18 16:10] anthonypetersen commented on #556
Looks like that was the only one

[2022-10-18 17:04] Davinkjohnson commented on #552
All Dashboard items look good. We still need to verify the KP sent variables

[2022-10-18 17:08] Davinkjohnson commented on #542
related to issue #561 Straggler tube issue seems to be resolved.

[2022-10-19 12:18] HopkinsDC commented on #587
Aileen tested the clinical survey flags, and they don't seem to be working as they should. Please see her comments below.
![Screen Shot 2022-10-19 at 8 07 56 AM](https://user-images.githubusercontent.com/85250133/196688707-5dcc5b12-2577-4147-a61f-f2b4735d57d9.png)

[2022-10-20 14:14] HopkinsDC opened #590 "Keep Biohazard Bag (0008) Checked When Another Tube is Unchecked"
On the Collection Data Entry page, the biohazard bag (0008) should remain checked when the "Check All" box is checked, and any other tube is unchecked. This change should only apply to the clinical Collection Data Entry page.

The video below shows what is happening currently.

https://user-images.githubusercontent.com/85250133/196973308-793abbab-8d3c-463d-bcdb-c505ec75a04c.mov

[2022-10-25 19:02] HopkinsDC opened #591 "Rename Clinical "Return to Labeling and Scanning" Button"
On the Review Collection Data Entry page, rename the "Return to Labeling and Scanning" button to "Return to Collection Data Entry". (See image below)

![Screen Shot 2022-10-25 at 3 03 43 PM](https://user-images.githubusercontent.com/85250133/197859868-01d1afbd-1e73-4b4f-ac44-45864f99abc4.png)

[2022-10-28 16:15] HopkinsDC commented on #565
@Davinkjohnson @abhinavjonnada82 The CIDs for Livonia and Weston are now available.

[2022-11-03 20:26] HopkinsDC opened #592 "Disable Automatic "Enter" After Scanning on Clinical Specimen Link page"
NOTE: Issue is similar to #396.

When scanning Accession IDs and Collection ID in Specimen Link, the scanner will automatically "Enter" after the scan and move on to the next box for the scanning. Please change this so it will stay on the page until the "Submit" button is clicked.

[2022-11-04 18:19] Davinkjohnson commented on #592
Also seeing an issue where the enter after 2nd blood scan (re-entering blood) opens warning modal. This shouldn't appear until the "submit" button is clicked.
<img width="629" alt="image" src="https://user-images.githubusercontent.com/87718852/200047521-25ff4f79-0f99-4edb-90de-679622089ce2.png">

[2022-11-04 18:52] Davinkjohnson opened #593 "DB scanned Accession IDs are not saving to Participant table"
The Dashboard scanned Accession IDs are not being saved to the participant records.

blood: 646899796
Urine: 611091485

[2022-11-04 19:14] Davinkjohnson opened #594 "Participant Search should not require all fields"
On the participant search page, any field should be able to return a result.
ex1: if only First Name is entered, the search should return all PTs with that first name.
ex2: If only Last Name is entered, the search should return all PTs with that last name
ex3: If First and Last name are entered, search returns all PTs with that combo of first and last name
ex4: If only DOB is entered, all PTs with

[2022-11-07 17:42] wyattks commented on #565
@Davinkjohnson @abhinavjonnada82
Kirsti confirmed Lavonia is present in the Collection Location dropdown.
Please add to Shipping location dropdown

[2022-11-07 17:45] StephanieWeinstein commented on #565
and we are still waiting for Marshfield to test Weston, but please make sure Weston is adding as a shipping location as well.  Thank you!

[2022-11-07 21:42] StephanieWeinstein commented on #565
Marshfield tested Weston and it is not an option for shipping location.  Also, last I heard they plan to start collecting from Weston next week, so this needs to be fixed soon. Thank you!

[2022-11-08 01:36] Davinkjohnson commented on #565
Hi Stephanie, This is one of our higher priority tasks (given the timeline you mentioned). We'll get these both added to shipping.

[2022-11-10 16:20] Davinkjohnson opened #774 "Add Email Notification for Suspended Contacts"
From Amelia:
A nice to have, but lower priority ask: it would be easier to track when these requests come in if we add suspended contacts to the notifications that go to the site and ConnectCC inboxes. (Right now, we just have revocation/withdrawal/destruction/deceased). For example, Roxy mentioned that they had a suspended contact at MF but I am still waiting for confirmation from this from NORC

[2022-11-14 13:43] HopkinsDC opened #595 "Make Collection Data Entry Page Fully Editable"
Please make the collection data entry page fully editable up until the data is finalized (once "Confirm" is clicked in "Confirm Collection" modal).

Currently, the "Samples Collected" column and the "Reason Not Collected" column are not editable after the "Edit All" or individual "Edit" button is clicked. (See video below)

https://user-images.githubusercontent.com/85250133/201675866-5353cad5-2fef

[2022-11-16 14:23] wyattks commented on #565
Weston and Livonia are both in BSI now.

[2022-11-16 18:50] HopkinsDC opened #596 "Dashboard Bug - Participant Search Results with DOB"
HealthPartners reported that they had 2 participants (Connect ID #4746725273 and #3872439399) on 11/16/2022 where the participants did not come up in the search when the first name, last name, and DOB were entered or when just the DOB was entered. HealthPartners triple-checked that the participants' information was entered correctly into the search fields. The participants did come up in a search

[2022-11-18 14:14] wyattks commented on #565
Tammy has tested in Stage for Weston.  Weston is appearing in all locations it should.
Kirsti tested for Livonia and all looked good.
@abhinavjonnada82  the fix for Weston and Livonia are ready for production.

[2022-11-18 17:28] #594 closed

[2022-11-18 17:28] Davinkjohnson commented on #596
Also refer to https://github.com/episphere/connect/issues/594

for further details on search requirements

[2022-11-21 19:22] brotzmanmj commented on #596
Abhinav and Michelle investigated and we found out what is happening. When a component of the date of birth (separate month, day, year) is corrected in the SMDB prior to verification as part of the verification process, it is just updating those individual variables and is not updating the concatenated DOB (concept ID 371067537). The participant lookup on both the SMDB and the Biospecimen Dashboar

[2022-11-21 19:32] HopkinsDC opened #597 "Condition "Select Dashboard to Use" in Prod Dashboard for Collection Setting"
After the push to prod on ~11/21, the prod biospecimen dashboard will have the dropdown on the first screen to choose Research Dashboard or Clinical Dashboard. Accidental crossover between the two will not be easily fixed.

Please condition the dropdown by site depending on whether the sites only see Research Dashboard or Clinical Dashboard in that dropdown currently.

[2022-11-22 17:06] Davinkjohnson opened #680 "Update R/W emails to denote test emails"
For DEV and STAGE emails sent for Refusals, Withdrawals, Data destruction, and deceased participants, please add "TEST" to the subject line to make these more clear.

(An example of the deceased subject would look similar to the below)
TEST Notice: Connect Participant Reported as Deceased

[2022-11-23 18:10] abhinavjonnada82 commented on #596
They're 23 participant on prod with different DOB. Resolution: Tony would them to the Prod Manual Change Log.

[2022-11-28 20:58] Davinkjohnson commented on #593
Discussed with Biospec team and Nicole. These aren't needed on the participants table

[2022-11-28 20:58] #593 closed

[2022-11-28 21:19] HopkinsDC opened #598 "Restore Home Collection Dashboard Access"
Please restore access to the Home Collection Dashboard in dev for the biospecimen team's operational review.